<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{receipt.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{receipt.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/receipts}" class="btn btn-secondary">[[#{receipt.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('receipt')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='receipt', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='receipt', field='auctionId', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='receipt', field='buyerId', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='receipt', field='sellerId', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='receipt', field='productName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='receipt', field='price', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='receipt', field='quantity', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='receipt', field='receiptStatus', type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='receipt', field='createdAt', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='receipt', field='updatedAt', inputClass='js-datetimepicker')}" />
                <input type="submit" th:value="#{receipt.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
